/build/
dist/
output/
target/
dev/

# Prebuilt binaries — always build from source.
*.gz
*.img
*.erofs
kernel
kernel-*

# Secrets
*.pem


# Added by cargo

/target

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
